
@media(max-width:786px) {
  .text {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./mobile-bg.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .filter a {
    padding: 10px 16px;
    font-size: 0.9rem;
  }

  .hamburger {
    display: block;
  }
  .nav-links{
    display: none;
  }
}